.header {
    background-color: #343541;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.title {
    font-size: 64px;
    margin: auto;
}

.titleText {
    font-size: 12px;
    font-style: italic;
    margin: auto;
}
